body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden ;
}
.main{
  display:flex;
  height: 100vh;
  padding:.5rem ;

}
.sidebar{
    background-color:  black;
   width: 340px;
   border-radius: 1rem;
   margin-right: .5rem;
}
.main-content{
  background-color:  #121212;
  flex: 1;
  border-radius: 1rem;
  overflow: auto;
}
.music-player{
    background-color:   black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72; 
    
}
a{
  text-decoration: none;
  color: white;
}
.nav{
  background-color: #121212;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  padding: 0.5rem 0.75rem;
}
.nav-option{
  line-height: 2.5rem;
  padding: 0.5rem;
  opacity: 0.7 0.5rem;

}
.nav-option:hover{
  opacity: 1;
   

}
.nav-option i{
  font-size: 1.25rem;
   

}
.nav-option a{
  font-size: 1rem;
}
.library{
  background-color: #121212;
  border-radius: 1rem;
  height: 100%;
  margin-top: .5rem;
   padding: 0.5rem 0.75rem;

}
.option{
  display: flex;
  justify-content:space-between ;
  align-items: center;
}
.lib-option img{
  height: 1.25rem;
  width: 1.25rem;
}
.icons{
  font-size: 1.25rem;
 
  display: flex;
}
.icons i{
 opacity: .75;
  margin-right: 1rem;
}
.icons i:hover{
  opacity: 1;
  transform: scale(1.2); 
} 
/* .icons i:hover {
  color: white;
  transform: scale(1.2);
} */

 .box{
  height: 8rem;
  background-color: #232323;
  border-radius: .75rem;
  margin:0.75rem 0 1.75rem 0;
  padding:.5rem 1.25rem ;
 }
 .box-p1{
  font-size: 1rem;
  font-weight: 500;
 }
.box-p2{
  font-size: .75rem;
  opacity: .9;
}
.badge{
  background-color: white;
  border: none;
  border-radius: 100px;
  padding: 0.25 rem 1 rem;
  font-weight: 700;
  margin-top:0.5rem;
  height: 2 rem;
  width: fit-content;

}
.dark-badge{
  background-color: #000;
  color: white;
}
.sticky-nav{
  position: sticky;
  top: 0;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 0;
}
.sticky-nav-icons{
  margin-left: .75rem;
}
.sticky-nav-options{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-items{
  margin-right: 1rem;
}