body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden ;
}
.main{
  display:flex;
  height: 100vh;

}
.sidebar{
    background-color:  red;

}
.main-content{
  background-color:  blue;
  flex: 1;
}
.music-player{
    background-color:  yellow;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72;
    
}